@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --reveal-menu-items-time: 0.5s; /* Define the variable for menu effects */
  }
}


html {
  scroll-behavior: smooth;
  overflow: hidden;
}


 
/* have scrollbar but hide it in the outer-motion-div*/
.outer-motion-div{
  position: relative;
  z-index: 1;
  overflow: scroll; 
  height: 100vh;
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}
.outer-motion-div::-webkit-scrollbar{
  display: none;  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Cormorant Garamond', sans-serif;

}

.swiper-wrapper{
  transition-duration: 300ms !important;
}

.w-half-important {
  width: 50% !important;
}

.w-auto-important {
  width: auto !important;
}
.h-auto-important{
  height: auto !important;
}


header{
  background-color: #000000;
  /* height: 178px; */
  
}


/* they need to be the same */
header .grid div{
  height: 75px;
}
/* .main-wrapper{
  margin-top: 110px;
} */
.custom-padding-top{
  padding-top: 75px;
}
.custom-padding-bottom{
  padding-bottom: 75px;
}
.custom-margin-top-minus{
  margin-top: -75px;
}
/* ************************ */


.custom-slider-height{
    height: calc(100vh - 75px);
}

footer{
  font-family: 'Montserrat', sans-serif;
}

.grid div{
  /* border:1px solid red; */
}

.border-custom{
  border-bottom: 1px solid #000000;
}

/* .custom-main-menu-wrapper{
  background-color: #000000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  top: calc(-100vh + 110px);
  transition: top 0.5s;
}

.custom-main-menu-wrapper.open{
  top: 110px !important;
} */

.custom-main-menu-wrapper{
  background-color: #000000;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  top: 0;
  opacity: 0;
  transition: opacity 0.1s; /* transition for main menu background show hiode effect */
}

.custom-main-menu-wrapper.open{
  opacity: 1 !important;
}

/* menu items effect start*/
.menu-items li{
  padding-top: 40px;
  overflow: hidden;
}
.menu-items li a{
  font-family: 'Cormorant Garamond', sans-serif;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 40px;
  display: block;
  position: relative;
  bottom: -100px;
  transition: bottom var(--reveal-menu-items-time) cubic-bezier(0.25, 0.8, 0.25, 1); /* effect for reveal from bottom menu atims about contact klp */
}


/* delay timings for menu items contact about klp*/
.menu-items li:nth-child(1) a{
  transition-delay: 0.05s;
}
.menu-items li:nth-child(2) a{
  transition-delay: 0.1s;
}
.menu-items li:nth-child(3) a{
  transition-delay: 0.15s;
}
.menu-items li:nth-child(4) a{
  transition-delay: 0.20s;
}

.menu-social-item-wrapper{
  overflow: hidden;
}

.menu-social-item-wrapper span,
.menu-social-item-wrapper a{
  bottom: -100px;
}

#main-menu.open .menu-social-item-wrapper span,
#main-menu.open .menu-social-item-wrapper a{
  position: relative;
  bottom: 0px;
  transition: bottom var(--reveal-menu-items-time) cubic-bezier(0.25, 0.8, 0.25, 1); /* reveal effect for social media on the right */ 
}

#main-menu.open .menu-social-item-wrapper:nth-child(5) a{
  transition-delay: 0.5s;
}
#main-menu.open .menu-social-item-wrapper:nth-child(4) span{
  transition-delay: 0.55s;
}
#main-menu.open .menu-social-item-wrapper:nth-child(3) a{
  transition-delay: 0.6s;
}
#main-menu.open .menu-social-item-wrapper:nth-child(2) span{
  transition-delay: 0.65s;
}
#main-menu.open .menu-social-item-wrapper:nth-child(1) a{
  transition-delay: 0.7s;
}

 

.custom-main-menu-wrapper.open .menu-social-item-wrapper a,
.custom-main-menu-wrapper.open .menu-items li a{
  bottom: 0px;
}


.menu-privacy-item-wrapper{
  overflow: hidden;
}
.menu-privacy-item-wrapper a{
  bottom: -100px;
  border-bottom:1px solid #ffffff;
  padding-bottom:3px;
}

#main-menu.open .menu-privacy-item-wrapper a{
  position: relative;
  transition: bottom var(--reveal-menu-items-time) cubic-bezier(0.25, 0.8, 0.25, 1); /* reveal effect for social media on the right */ 
  transition-delay: 0.8s;
  bottom: 5px;
}

.menu-bottom-line{
  margin-top:14px;
  width:0%;
  border-color: #e5e5e5 !important;
}

#main-menu.open .menu-bottom-line{
  width:100%;
  transition: width 800ms;
  transition-delay: 0.2s;
}



/* reveal effect on page load for logo and menu button-link */
.hidden-reveal-item-wrapper{
  position: relative;
  overflow: hidden;
}
.hidden-reveal-item{
  display: block;
  transform: translateY(105%);
  transition: transform 800ms !important;
  transition-delay: 100ms;
}
.show-items .hidden-reveal-item{
  transform: translateY(0%);
}







.social-in-menu{
  margin-right: -145px;
  font-size: 21px;
}

.h-custom{
  height: calc(100vh - 80px);
}
.custom-margins-hr-about{
  height: 400px;
  width: 0px;
  border-right: 1px solid #ffffff;
  float: right;
  margin-top: 160px;
  margin-right: 50px;
}

form.contact-us .MuiSelect-select,
form.contact-us select,
form.contact-us input{
  color:#ffffff;
}

form.contact-us textarea{
  color:#ffffff;
}


 
form.contact-us .date-wrap input{
  padding: 10px 0px !important;
}


form.contact-us .date-wrap label {
  transform: translate(0px, 14px) scale(1);
}
form.contact-us .date-wrap label.Mui-focused {
    transform: translate(0px, -9px) scale(0.75);
}
form.contact-us .date-wrap label.MuiFormLabel-filled{
  transform: translate(0px, -9px) scale(0.75);
}

form.contact-us .date-wrap .MuiOutlinedInput-notchedOutline{
  border-bottom: 2px solid #ffffff;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}

form.contact-us .MuiInput-underline{
  border-bottom: 2px solid #ffffff;
}

form.contact-us .Mui-focused.MuiInput-underline{
  border-bottom: 0px !important;
}

form.contact-us label{
  color: #fff;
  text-transform: uppercase;
}


form.contact-us .MuiSvgIcon-root{
  color:#ffffff;
}
.custom-contact-us-height{
  /* min-height: calc(100vh + 110px); */
}

form .form-checkbox{
  float:left;
  margin-top:3px;
}

form .MuiFormControl-root{
  width:100%;
}

.hoverLayer{
  opacity:0;
  transition: opacity 200ms;
  z-index:1000;
}
.hoverLayer:hover{
  opacity:1;
}

.homeslide img,
.homeslide video{
  transition: transform 0.5s;
}
.homeslide:hover img,
.homeslide:hover video{
  transform: scale(1.05);
}

#menu-text{
  font-size: 30px;
  line-height: 23px;
}

#menu-text,
.menu-element{
  transition: color 350ms;
  color:#e5e5e5;
}

.hovered-menu-items .menu-element{
  color:#ffffff29;
  transition: color 350ms ease 0s !important;
}

.hovered-menu-items .menu-element:hover{
  color:#e5e5e5;
}

.swiper {
  background-color: #ffffff;
  cursor: grab;
}

.swiper:active {
  cursor: grabbing;
}

.santorini-subtitle{
  margin-top:5px;
  margin-bottom:30px;
}

.sliderCounter{
  border-bottom:1px solid black;
  text-align: center;
  font-size: 25px;
}

.z-index-9{
  z-index: 9 !important;
}

.text-footer{
  font-size: 0.9rem;
  line-height: 1.35rem;
}

.underline-effect a {
  color: #000000;
  padding-bottom:3px;
}

.underline-effect a:hover {
  color: #000000;
}

.underline-effect a {
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 0, 100% 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

.underline-effect a:hover, .underline-effect a:focus {
  background-size: 0 0.1em, 100% 0.1em;
  background-position: 100% 100%, 0 100%;
}
 
 
.next-project{
  color:#515151;
  font-size:33px;
}
.next-project:hover{
  color:#000000;
}


/* responsive */
@media only screen and (max-width: 900px) {
  #about-main #about-info-wrap{
    flex-direction: column !important;
  }
  #about-main .about-logo{
    max-width:300px;
  }
}


@media only screen and (max-width: 500px) {
  header .grid div{
    height: 55px;
  }
  .custom-padding-top{
    padding-top: 55px;
  }
  .custom-padding-bottom{
    padding-bottom: 55px;
  }
  .custom-margin-top-minus{
    margin-top: -55px;
  }
  .main-logo{
    height:20px;
    width:80px;
  }
  #menu-text{
    font-size: 21px;
    line-height: 23px;
  }
  .menu-items li{
    padding-top:25px;
  }
  .menu-items li a{
    font-size: 25px;
    line-height: 20px;
  }

  #main-menu .menu-social-item-wrapper a{
    font-size: 15px;
  }
  #main-menu .social-in-menu{
    margin-right:-112px;
  }
  #main-menu .menu-privacy-item-wrapper a{
    font-size: 12px;
  }
  .menu-bottom-line{
    margin-top:13px;
  }
}



@media (max-width: 768px) {
  .modulo2{
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1536px){
  .modulo3{
    display: none;
  }
}

@media (min-width: 1536px) {
  .modulo4{
    display: none;
  }
}


@screen md {
  .md\:w-half-important {
    width: 50% !important;
  }

}
 

.privacy h2{
  margin-top:20px;
  margin-bottom:10px;
  font-weight: 600;
  font-size: 20px;
}

.privacy p{
  margin-bottom:10px;
}

.faq-item p{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s;
}
 
.faq-item.open p{
  height:auto;
  max-height: 100px; /* A value larger than the maximum height of your content */
}

