@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}

@media (prefers-color-scheme: dark) {
  :root {
 
  }
}


html {
  scroll-behavior: smooth;
  overflow: hidden;
}


 
/* have scrollbar but hide it in the outer-motion-div*/
.outer-motion-div{
  overflow: scroll; 
  height: 100vh;
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}
.outer-motion-div::-webkit-scrollbar{
  display: none;  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-wrapper{
  transition-duration: 500ms !important;
}

.w-half-important {
  width: 50% !important;
}

.w-auto-important {
  width: auto !important;
}

@screen md {
  .md\:w-half-important {
    width: 50% !important;
  }
}
